.edit {
  display: flex;
  justify-content: space-between;
  margin: 4rem auto;
  align-items: center;
  padding: 0 4rem;
  min-height: 550px;
  width: 100%;

  &__sticker {
    width: 25%;
    height: 100%;
    padding-top: 1rem;
  }

  #canvas {
    width: 70%;
  }

  &__upload-area {
    width: 70%;
    border: 4px dashed #f7fb29;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      padding-top: calc(100% / (16 / 9));
    }
  }
}
